.app-container {
  display: grid;
}

.add-new-todo {
  width: 70vw;
}

.new-todo-input {
  font-size: 2vh;
  width: 63vw;
  height: 2.5vh;
  margin: 2vw;
  padding: 1vw;
}

.todo-table {
  width: 70vw;
}

th {
  background-color: #5a4779;
}

.todo-item {
  width: 100%;
  background-color: #010101;
}

.todo-item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.status-true {
  text-decoration: line-through;
}
